<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd
 						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- <bean id = "d1" class = "kr.hs.study.beans.DataBean1" lazy-init = "true"/>					
	<bean id = "t1" class = "kr.hs.study.beans.TestBean1">
		<property name="data1" ref = "d1"/>
		<property name="data2" ref = "d1"/>
	</bean>
	
	<bean id = "data1" class ="kr.hs.study.beans.DataBean1"/>
	<bean id = "data2" class = "kr.hs.study.beans.DataBean1"/> -->
	<!-- <bean id = "t2" class = "kr.hs.study.beans.TestBean1" autowire="byName"/> -->
	<!-- <bean id = "t3" class = "kr.hs.study.beans.TestBean1" autowire="byType"/> -->
	
	<bean class = "kr.hs.study.beans.DataBean3"/>
	<bean id = "obj3" class = "kr.hs.study.beans.TestBean3" autowire="constructor"/>
	
</beans>